.jobs-container {
  
  padding: 8% 0 0;
  position: relative;
  margin: auto;
  padding-top:30px;
  width: 700px;
  overflow-x: auto;
  .select{
    // float: right;
    position: fixed;
  }
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  direction: rtl  ;  
}


.inside-circle{
  border-radius:50%;
  background-color:silver;
  width:84px;
  height:84px;
  position: absolute;
  top:3px;
  left:3px;
  &.active{
    background-color: orange;
  }

}

.out-circle{
  border-radius:50%;
  background-color:white;
  width:100px;
  height:100px;
  position: relative;
  border: 5px solid silver;
  display: inline-block;
  :after{
    content: "";
  position: absolute;
  top: 108%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: silver transparent transparent transparent;
  
  }
  &.active{
    border: 5px solid orange;
    :after{
    border-color: orange transparent transparent transparent;
    
    }
  }
  
}

.line{
  border-top: 1px solid white ;
  position: relative;
  margin-top:20px;
  span{
    font-size: 12px;
    white-space: nowrap;
  }
.dot{
  background-color: white;
  width:15px;
  height:15px;
  border-radius: 50%;
  
  border: 3px solid silver;
  text-align:center;
  display: inline-block;
  
  position: absolute;
  top:-7px;
  left:47%;

}
&.line.active .dot{
  border: 3px solid orange;
}
}

.job-container{
  width:150px;
  text-align: center;
  margin: auto;
  &:first-child .line{
    
    float: left;
    
  };
  &:first-child .dot{
    left:97%;
  }
  &:last-child .line{
    
    float: right;
    .span{
      left:100%
    }
    
  };
  &:last-child .dot{
    right:87%;
    left:0;
  }
}


.job-stages{  
  float: right;
  display: flex;
  margin-top:100px;
  
  
}